---
import Layout from 'src/layouts/Layout.astro'
import ProfileHeader from 'src/components/ProfileHeader.astro'
import Footer from 'src/components/Footer.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const articles = await getCollection('articles')
  return articles.map((article) => ({
    params: { id: article.id.replace(/\.md$/, '') },
    props: { article },
  }))
}

const { article } = Astro.props
const { Content } = await render(article)
---

<Layout
  title={`${article.data.title} - James Beck`}
  description={article.data.description}
  article={true}
>
  <main class="container">
    <ProfileHeader />

    <article class="section">
      <header>
        <h1>{article.data.title}</h1>
        {article.data.subtitle && <p class="subtitle">{article.data.subtitle}</p>}
        <p class="blog-meta">
          {
            new Intl.DateTimeFormat('en-US', {
              month: 'long',
              day: 'numeric',
              year: 'numeric',
            }).format(article.data.date)
          }
        </p>
      </header>

      <div class="article-content">
        <Content />
      </div>
    </article>

    <div class="post-end">
      <img
        src="https://pbs.twimg.com/profile_images/1904861743207129088/VeMdEbCZ_400x400.jpg"
        alt="James Beck"
        width="48"
        height="48"
      />
      <div>
        <p class="post-end-name">James Beck</p>
        <p class="post-end-cta">
          Thanks for reading! Follow me on <a
            href="https://twitter.com/jamesbeck"
            target="_blank"
            rel="noopener">Twitter</a
          > for more.
        </p>
      </div>
    </div>

    <a href="/blog" class="cta-link">&larr; Back to blog</a>
    <Footer />
  </main>
</Layout>
